RELXEN_BIND=[::]:3000
RELXEN_DATABASE_URL=sqlite://var/relxen.sqlite3
RELXEN_FRONTEND_DIST=web/dist
RELXEN_LOG_LEVEL=info,relxen=debug
RELXEN_PAPER_ENABLED=true
RELXEN_LIVE_MODE_VISIBLE=true
RELXEN_AUTO_START=true
RELXEN_CREDENTIAL_SOURCE=env
# RELXEN_ENABLE_ENV_CREDENTIALS=true
RELXEN_ENABLE_MAINNET_CANARY_EXECUTION=false
BINANCE_TESTNET_API_SECRET_KEY=...
BINANCE_TESTNET_API_KEY=...
BINANCE_MAINNET_API_SECRET_KEY=...
BINANCE_MAINNET_API_KEY=...
